<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">


    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>RoomServlet</servlet-name>
        <servlet-class>servlets.RoomServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RoomServlet</servlet-name>
        <url-pattern>/room</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReservationDateServlet</servlet-name>
        <servlet-class>servlets.ReservationDateServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReservationDateServlet</servlet-name>
        <url-pattern>/reservationDate</url-pattern>
    </servlet-mapping>

</web-app>